:root {
	--bg-color: rgb(25, 25, 75);
	--gradient-color: rgb(75, 150, 225);
	--accent-color: rgb(25, 75, 125);
}

html, body {
	background-color: var(--bg-color);
	color: white;
}

header nav {
	background: linear-gradient(to right, var(--bg-color) 20%, var(--accent-color));
}

header nav .logo .asteration:hover{
	color: var(--gradient-color);
	text-decoration: none;
	animation: nav-hover 0.2s linear;
}

header nav ul li a:hover{
	color: var(--gradient-color);
	text-decoration: none;
	animation: nav-hover 0.2s linear;
}

@keyframes nav-hover {
	0% {
		color: white;
	}

	100% {
		color: var(--gradient-color);
	}
}

section.banner{
	--size: 100vw;
	position: relative;
	width: var(--size);
	height: calc(var(--size)/1.6);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: gray url("https://cdn.discordapp.com/attachments/1174164611499569313/1181469015630159912/armone.png?ex=65812bc3&is=656eb6c3&hm=276510784f7cd503424f5a4c135b6e26b10fb63bb18caccca33bd2d693703266&") center / cover no-repeat;
}

section.banner .gradient-banner {
	position: absolute;
	z-index: 10;
	left: 0;
	bottom: 0;
	height: 10rem;
	width: 100%;
	background: linear-gradient(to bottom,rgba(0,0,0,0), var(--bg-color));
}

section.about {
	display: flex;
	margin-left: 5%;
	margin-top: 5rem;
	flex-direction: column;
	width: 90%;
}

section.about h1 {
	font-weight: 700;
}

section.about p {
	margin-left: 2.5%;
	font-size: 1.25rem;
}

section.kegiatan {
	display: flex;
	margin-left: 5%;
	margin-top: 2rem;
	flex-direction: column;
	width: 90%;
}

section.kegiatan .daftar-isi{
    width: 20rem;
}

section.kegiatan h1 {
	font-weight: 700;
}

section.kegiatan .daftar-isi ul {
	display: flex;
	flex-direction: column;
	width: 90%;
	justify-content: space-evenly;
	margin: 0;
}

section.kegiatan ul li{
	margin-left: 7.5%;
}

section.kegiatan ul li a{
	color: white;
	font-size: 1.25rem;
	text-decoration: none;
}

section.kegiatan ul li a:hover{
	color: var(--gradient-color);
	text-decoration: none;
	animation: kegiatan-hover 0.2s linear;
}

@keyframes kegiatan-hover {
	0% {
		color: white;
	}

	100% {
		color: var(--gradient-color);
	}
}

.kegiatan .content{
	display: flex;
	padding: 3% 0;
    flex-direction: column;
    align-items: center;
}

.kegiatan .content .content-isi {
    width: 70%;
    margin-top: 3%;
    border: 0.3rem solid var(--gradient-color);
    border-radius: 1rem;
    box-shadow: 0 0 2rem var(--gradient-color);
    padding-left: 3rem;
    padding-top: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
}

.kegiatan .content .content-isi .top {
    display: flex;
    align-items: flex-start;
}

.kegiatan .content .content-isi .top img{
    margin: 0;
	width: 250px;
	border-radius: 15px;
}

.kegiatan .content .content-isi .top-text{
	display: flex;
	flex-direction: column;
    margin-left: 5%;
}

.kegiatan .content .content-isi .top-text h2{
	font-weight: bold;
	color: white;
	padding-top: 3%;
}

.kegiatan .content .content-isi .top-text p{
	color: white;
	padding-left: 0;
	padding-top:2%;
}

.kegiatan .content .content-isi .top-text a{
	color: white;
}

.kegiatan .content .content-isi .top-text a:hover{
	color: var(--gradient-color);
	text-decoration: none;
	animation: kegiatan-hover 0.2s linear;
}

.kegiatan .content .content-isi .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kegiatan .content .content-isi .bottom button{
    margin-bottom: 2%;
    margin-top: 2%;
    border: none;
    background-color: white;
    color: var(--bg-color);
}

.kegiatan .content .content-isi .bottom button:hover{
    background-color: var(--accent-color);
    color: white;
}

.card, .card-body {
    width: 100%;
}


.kegiatan .content .content-isi .bottom .card{
	background: var(--bg-color);
	border: none;
}

.kegiatan .content .content-isi .bottom .card img{
	width: 50vw;
	margin-bottom: 1rem;
}

.kegiatan .content .content-isi .bottom .card h3{
	font-weight: bold;
}

.kegiatan a{
	color: white;
}

.kegiatan a:hover {
	color: var(--gradient-color);
	text-decoration: none;
	animation: nav-hover 0.2s linear;
}

.winners-data{
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	background-color: var(--accent-color);
}

footer .gradient {
	background: linear-gradient(var(--bg-color), var(--accent-color));
}

section.kegiatan ul li a{
	color: white;
}

footer .footer-content a{
	color: white;
	text-decoration: none;
}

footer .footer-content a:hover{
	color: var(--gradient-color);
	animation: kegiatan-hover 0.2s linear;
}

footer .column2 a h1{
	margin: 0;
	color: var(--gradient-color);
}

footer .column3 a h2{
	margin: 0;
	color: var(--gradient-color);
}

footer .copyright {
	color: var(--bg-color);
}

@media screen and (max-width : 850px) {
	section.banner .gradient-banner {
		height: 5rem;
	}

	section.about p{
		font-size: 1rem;
	}

	section.kegiatan .daftar-isi{
        border: 3px solid var(--gradient-color);
		border-radius: 5px;
		box-shadow: 0 0 1rem var(--gradient-color);
        padding: 3% 0;
	}

    .kegiatan .content .content-isi {
        width: 95%;
		padding: 1rem;
		font-size: 90%;
    }

	.kegiatan .content .content-isi .top{
		flex-direction: column-reverse;
	}

    .kegiatan .content .content-isi .top-text{
		margin-left: 0;
	}

	.kegiatan .content .content-isi .top img{
		margin: auto;
		width: auto;
		width: 50vw;
		margin-top: 5%;
        margin-bottom: 3%;
	}
}

@media screen and (max-width : 590px) {
	header nav ul.menu-nav{
		border: 3px solid var(--gradient-color);
		background-color: rgb(25, 25, 75);
	}
}